
<!--begin::Entry-->
						<div class="d-flex flex-column-fluid">

							<!--begin::Container-->
							<div class="container-fluid">

										<div class="card card-custom">

											<!--begin::Body-->
											<div class="card-body">

													<!--begin::Top-->
													<div class="d-flex align-items-center justify-content-between">

														<!--begin::Label-->
														<span class="label label-lg label-light-primary label-inline font-size-sm font-weight-bolder py-5">03 SEP, 20</span>

														<!--end::Label-->

													</div>

													<!--end::Top-->

													<!--begin::Carousel-->
													<div class="carousel-inner pt-9">
													
													
														<div class="carousel-item active">

															<!--begin::Section-->
															<div class="flex-grow-1">

																<!--begin::Title-->
																<h3 class="font-size-h4 text-dark-75 text-hover-primary font-weight-bold">Welcome to Nera Support</h3>

																<!--end::Title-->

																<!--begin::Text-->
																<p class="text-dark-75 font-size-lg font-weight-normal pt-2">Cplus - Singapore Telecommunication LTD your Last Signed on <span class="text-danger">Tue 06 jul-2010 1052:36 from 121231.1231</span></p>

																<!--end::Text-->
															</div>

															<!--end::Section-->
														</div>
													</div>

													<!--end::Carousel-->
												
											</div>

											<!--end::Body-->

											<!--begin::Footer-->
											<div class="card-footer d-flex align-items-center justify-content-between py-5">
												
												
											</div>

											<!--end::Footer-->
										</div>
							</div>

							<!--end::Container-->
						</div>

						<!--end::Entry-->